/*sidebar - profile*/
.profile-container-main{
	background-color: #f2842d;
}

/*attendance alerts*/

.panel-title-cont{
	padding:20px 20px 0px 20px;
}

.sort-cont{
	padding:0px 5px 0px 0px; 
	text-align: right; 
	color:#636363 !important;
}

.sort-menu{
	padding-left:30px; 
	font-weight:600;
}

.sort-dropdown{
	padding:0px 10px; 
	color:#f4984f;
}

.panel-cont{
	overflow: hidden; 
	width: auto; 
	height: 250px; 
	border-top: thin #d7d7d7 solid; 
	padding-top:20px !important;
}

.title-cont{
	border-bottom:thin solid #d7d7d7; 
	margin-bottom:20px;
}

.panel-divider{
	border-bottom:thin solid #d7d7d7; 
	margin-bottom:20px
}

.fname {
	font-weight: normal !important;
}

.panel-start-btn{
	background:#707070; 
	padding:1px 10px; 
	text-align:center; 
	color:#ffffff;
}

.attendance-cont{
	font-size: 18px; 	
	padding: 10px 0px; 
	float: right; 
	width:50%; 
	text-align:center;
}

.time-cont{
	font-size: 18px;
	color: #707070; 
	padding:0px 20px;
}

.sched-cont{
	float:left; 
	margin: 12px 0px;
}

.time-col-cont{
	float:left; 
	margin: 14px 0px;
}

.rlate{
	border: thin #f66e02 solid; 
	color: #f66e02;
}

.late{
	border: thin #ff9d52 solid; 
	color: #ff9d52;
}

.wfh{
    border: thin #93cb80 solid; 
	color: #93cb80;
}

.vl{
    border: thin #038bd5 solid; 
	color: #038bd5;
}

